.phone-comparison {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /* Kartların alt alta değil yan yana sığması için */
}

.phone-card {
    width: 300px;
    /* Sabit kart genişliği */
    margin: 20px;
    /* Kartlar arası boşluk */
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.phone-card img {
    width: 50%;
    /* Resimlerin genişliği kartın içine sığacak şekilde ayarlanır */
    height: 300px;
    /* Oranları koruyarak resimlerin yüksekliği otomatik olarak ayarlanır */
    margin-bottom: 20px;
}

.phone-card h2 {
    margin-top: 0;
}

table {
    width: 100%;
}

table td {
    padding: 10px;
}

table td:first-child {
    font-weight: bold;
    text-align: left;
}